@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

header {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vh 0 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    background-color: #fff;
    z-index: 9999999;

    .logo {
        a {
            text-decoration: none;
        }
    }

    .links {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 2vh;

            li {
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 13pt;
                    position: relative;
                    transition: .2s linear;
                }

                a::after {
                    content: " ";
                    width: 0;
                    height: 1.5px;
                    background-color: #856652;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    transition: .2s linear;
                }

                a:hover::after {
                    width: 100%;
                }

                a:hover {
                    color: #856652;
                }
            }
        }
    }
}

main {
    .hero {
        width: 100%;
        height: 100vh;
        padding-top: 9vh;
        background: url(../Imgs/banner-hero-main.png) fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        svg {
            position: absolute;
            bottom: 0;
        }
    }

    .sobre {
        width: 100%;
        height: 70vh;
        padding-top: 5vh;
        display: flex;

        .logo {
            width: 50%;
            height: 100%;
            display: grid;
            place-items: center;

            img {
                border-radius: 15px;
            }
        }

        .content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                text-align: right;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                color: #333;
                margin-bottom: 4vh;
                text-align: right;
                font-weight: 300;
            }

            p {
                font-size: 12pt;
                color: #333;
                line-height: 1.5;
                text-align: justify;
                margin-bottom: 2vh;
            }

            #text2 {
                color: #666;
            }

            div {
                width: 100%;
                display: grid;
                justify-content: left;
            }

            button {
                padding: 1.5vh 7vh 1.5vh 7vh;
                border: none;
                border-radius: 10px;
                background-color: #856652;
                color: #fff;
                transition: .3s linear;
                cursor: pointer;
                font-size: 12pt;
                margin-left: 1vh;
            }

            button:hover {
                opacity: 0.9;
                padding: 1.5vh 9vh 1.5vh 9vh;
            }
        }
    }

    .cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8vh;
        padding: 10vh;
        
        .card {
            width: 350px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center !important;
            gap: 5vh;

            .icon {
                position: relative;
            }

            .icon::after {
                content: " ";
                width: 3px;
                height: 50%;
                background-color: #856652;
                position: absolute;
                bottom: 25%;
                right: -23px;
            }

            .content {
                h4 {
                    font-size: 13pt;
                    color: #856652;
                }
            }
        }
    }

    .campos {
        width: 100%;
        height: 120vh;
        display: flex;
        background-color: #1b1b20;
        position: relative;

        svg {
            position: absolute;
            width: 100%;
            left: 0;
        }

        #svgtop {
            top: 0 !important;
        }

        #svgbottom {
            bottom: 0px !important;
        }

        .image, .content {
            width: 50%;
            height: 100%;
        }

        .image {
            background: url(../Imgs/campos.jpg) center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                color: #fff;
                margin-bottom: 4vh;
                font-weight: 300;
            }

            p {
                font-size: 12pt;
                color: #989898;
                line-height: 1.5;
                text-align: justify;
                margin-bottom: 1vh;
            }
        }
    }

    .depoimentos {
        width: 100%;
        height: auto;
        margin-bottom: 10vh;

        .text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                text-align: right;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                font-weight: 300;
                color: #333;
                text-align: right;
            }
        }

        .cards {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10vh;
            gap: auto;

            .card {
                height: auto;
                width: 350px;
                display: flex;
                flex-direction: column;
                gap: 2vh;

                p {
                    text-align: justify;
                    color: #333;
                }

                div {
                    width: 100%;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-size: 15pt;
                    }

                    #nome {
                        font-weight: bold;
                        color: #222;
                    }

                    #estrela {
                        color: #ffd700;
                        font-size: 20pt;
                    }
                }
            }
        }
    }

    .produtos {
        width: 100%;
        height: auto;

        .text {
            width: 100%;
            height: auto;
            padding-left: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                font-weight: 300;
                color: #333;
            }
        }

        .cards2 {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10vh 18vh 10vh 18vh;
            gap: 10vh;

            .card {
                width: 300px;
                height: 300px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                .card-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    position: relative;
                    opacity: 0;
                    transition: .2s ease-in-out;
                    background-color: #00000090;
                    z-index: 1;

                    .text-card {
                        width: 100%;
                        height: auto;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        padding: 2vh;

                        h3 {
                            font-size: 30pt;
                            font-weight: 300;
                        }

                        h4 {
                            font-size: 14pt;

                            del {
                                color: #e93131;
                            }
                        }
                    }
                }
            }

            .card:before {
                content: "";
                position: absolute;
                inset: 0;
                background: url(../Imgs/banner-produto.webp) center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                transition: .2s ease-in-out;
            }

            .card:hover {
                .card-content {
                    opacity: 1;
                }
            }

            .card:hover:before{
                filter: blur(1px);
            }
        }

        .button {
            width: 100%;
            height: auto;
            display: grid;
            place-items: center;
            margin-bottom: 20vh;

            button {
                cursor: pointer;
                padding: 1.5vh 8vh 1.5vh 8vh;
                border: none;
                border-radius: 10px;
                font-size: 12pt;
                color: #fff;
                background-color: #856652;
                transition: .3s linear;
            }

            button:hover {
                padding: 1.5vh 11vh 1.5vh 11vh;
            }
        }
    }
}