@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

header {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vh 0 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    background-color: #fff;
    z-index: 9999999;

    .logo {
        a {
            text-decoration: none;
        }
    }

    .links {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 2vh;

            li {
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 13pt;
                    position: relative;
                    transition: .2s linear;
                }

                a::after {
                    content: " ";
                    width: 0;
                    height: 1.5px;
                    background-color: #856652;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    transition: .2s linear;
                }

                a:hover::after {
                    width: 100%;
                }

                a:hover {
                    color: #856652;
                }
            }
        }
    }
}

main {
    .hero {
        width: 100%;
        height: 100vh;
        background: url(../Imgs/banner-hero.gif) fixed center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .filter {
            width: 100%;
            height: 100%;
            background-color: #00000070;

            .content {
                padding-top: 9vh !important;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0 20vh 20vh;
                color: #fff;
                text-shadow: 0 1px 4px rgba(0, 0, 0, 0.877);

                h2 {
                    font-size: 30pt;
                    color: #856652;
                    margin-bottom: 2vh;
                    position: relative;
                }

                h2::after {
                    content: " ";
                    width: 9vh;
                    height: 3px;
                    background-color: #856652;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                h3 {
                    font-size: 22pt;
                    color: #fff;
                    margin-bottom: 2vh;
                    font-weight: 300;
                }

                p {
                    font-size: 12pt;
                    color: #dbdbdb;
                    line-height: 1.5;
                    text-align: justify;
                    margin-bottom: 2vh;
                }
                
                p {
                    padding-bottom: 2vh;
                    text-align: justify;
                }
            }
        }

        svg {
            position: absolute;
            bottom: 0;
        }
    }

    .sobre {
        width: 100%;
        height: 70vh;
        padding-top: 5vh;
        display: flex;

        .img {
            width: 50%;
            height: 100%;
            display: grid;
            place-items: center;

            img {
                border-radius: 15px;
            }
        }

        .content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                text-align: right;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                color: #333;
                margin-bottom: 4vh;
                text-align: right;
                font-weight: 300;
            }

            p {
                font-size: 12pt;
                color: #333;
                line-height: 1.5;
                text-align: justify;
                margin-bottom: 2vh;
            }

            #text2 {
                color: #666;
            }

            div {
                width: 100%;
                display: grid;
                justify-content: left;
            }

            button {
                padding: 1.5vh 7vh 1.5vh 7vh;
                border: none;
                border-radius: 10px;
                background-color: #856652;
                color: #fff;
                transition: .3s linear;
                cursor: pointer;
                font-size: 12pt;
                margin-left: 1vh;
            }

            button:hover {
                opacity: 0.9;
                padding: 1.5vh 9vh 1.5vh 9vh;
            }
        }
    }

    .cards {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8vh;
        padding: 10vh;
        
        .card {
            width: 350px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center !important;
            gap: 5vh;

            .icon {
                position: relative;
            }

            .icon::after {
                content: " ";
                width: 3px;
                height: 50%;
                background-color: #856652;
                position: absolute;
                bottom: 25%;
                right: -23px;
            }

            .content {
                h4 {
                    font-size: 13pt;
                    color: #856652;
                }
            }
        }
    }

    .campos {
        width: 100%;
        height: 120vh;
        display: flex;
        background-color: #1b1b20;
        position: relative;

        svg {
            position: absolute;
            width: 100%;
            left: 0;
        }

        #svgtop {
            top: 0 !important;
        }

        #svgbottom {
            bottom: 0px !important;
        }

        .image, .content {
            width: 50%;
            height: 100%;
        }

        .image {
            background: url(../Imgs/campos.jpg) center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                color: #fff;
                margin-bottom: 4vh;
                font-weight: 300;
            }

            p {
                font-size: 12pt;
                color: #989898;
                line-height: 1.5;
                text-align: justify;
                margin-bottom: 1vh;
            }
        }
    }

    .depoimentos {
        width: 100%;
        height: auto;
        margin-bottom: 10vh;

        .text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                text-align: right;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                font-weight: 300;
                color: #333;
                text-align: right;
            }
        }

        .cards {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10vh;
            gap: auto;

            .card {
                height: auto;
                width: 350px;
                display: flex;
                flex-direction: column;
                gap: 2vh;

                p {
                    text-align: justify;
                    color: #333;
                }

                div {
                    width: 100%;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-size: 15pt;
                    }

                    #nome {
                        font-weight: bold;
                        color: #222;
                    }

                    #estrela {
                        color: #ffd700;
                        font-size: 20pt;
                    }
                }
            }
        }
    }

    .produtos {
        width: 100%;
        height: auto;

        .text {
            width: 100%;
            height: auto;
            padding-left: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                position: relative;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                font-weight: 300;
                color: #333;
            }
        }

        .cards2 {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 10vh 14vh 10vh 14vh;
            gap: 8vh;

            .card {
                width: 350px;
                height: 250px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                .desconto {
                    position: absolute;
                    right: 2px;
                    top: 3px;
                    background-color: #ffffff70;
                    z-index: 3;
                    padding: 8px;
                    border-radius: 10px;
                    transform: scale(0.6);

                    span {
                        color: #11111195;
                    }
                }

                .card-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    position: relative;
                    opacity: 0;
                    transition: .2s ease-in-out;
                    background-color: #00000050;
                    z-index: 1;

                    .text-card {
                        width: 100%;
                        height: auto;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        padding: 2vh;

                        h3 {
                            font-size: 30pt;
                            font-weight: 300;
                        }

                        h4 {
                            font-size: 14pt;

                            del {
                                color: #e93131;
                            }
                        }
                    }
                }
            }

            .card:before {
                content: "";
                position: absolute;
                inset: 0;
                background: url(../Imgs/produtos/produto.jpeg) center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                transition: .2s ease-in-out;
            }

            .card:hover {
                .card-content {
                    opacity: 1;
                }
            }

            .card:hover:before{
                filter: blur(1px);
            }
        }

        .button {
            width: 100%;
            height: auto;
            display: grid;
            place-items: center;
            margin-bottom: 20vh;

            button {
                cursor: pointer;
                padding: 1.5vh 8vh 1.5vh 8vh;
                border: none;
                border-radius: 10px;
                font-size: 12pt;
                color: #fff;
                background-color: #856652;
                transition: .3s linear;
            }

            button:hover {
                padding: 1.5vh 11vh 1.5vh 11vh;
            }
        }
    }

    .contato {
        width: 100%;
        height: auto;
        padding: 20vh 0 0 0;
        display: flex;
        flex-direction: column;

        .localizacao, .formulario {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
        }

        .localizacao {
            justify-content: right;
            position: relative;

            svg {
                position: absolute;
                top: 0;
            }

            iframe {
                width: 100%;
                height: 70vh;
            }
        }

        .formulario {
            z-index: 999;
            display: grid;
            place-items: center;

            form {
                box-shadow: 1px 1px 15px #00000060;
                border-radius: 10px;
                padding: 5vh 5vh 1vh 5vh;
                width:auto;
                height: auto;
                display: flex;
                flex-direction: column;
                width: 500px;

                .text {
                    width: 100%;
                    height: auto;
                    padding-bottom: 6vh;
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-size: 25pt;
                        color: #856652;
                        margin-bottom: 2vh;
                        position: relative;
                        text-align: right;
                    }

                    h2::after {
                        content: " ";
                        width: 9vh;
                        height: 3px;
                        background-color: #856652;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }

                    h3 {
                        font-size: 15pt;
                        font-weight: 300;
                        color: #333;
                        text-align: right;
                    }
                }

                label {
                    color: #333;
                    margin-bottom: 0.5vh;
                }

                input {
                    padding: 1vh;
                    border: none;
                    outline: none;
                    margin-bottom: 1vh;
                    font-size: 12pt;
                }

                textarea {
                    resize: vertical;
                    border: none;
                    outline: none;
                    padding: 1vh;
                    font-size: 12pt;
                }

                #input, #textarea {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 0 1vh 0 1vh;
                    position: relative;
                    margin-bottom: 2.5vh;
                }

                #input::after {
                    content: " ";
                    width: 0;
                    height: 1px;
                    background-color: #856652;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .3s ease-in-out;
                }

                #input:hover::after {
                    width: 100%;
                }

                #input:focus-within::after {
                    width: 100%;
                }

                button {
                    padding: 1.5vh 1vh;
                    border-radius: 10px;
                    border: none;
                    color: #fff;
                    font-size: 12pt;
                    background-color: #856652;
                    cursor: pointer;
                    transition: .3s linear;
                }

                button:hover {
                    opacity: 0.8;
                }

                .social {
                    margin-top: 2vh;
                    width: 100%;
                    padding: 2vh 0 0 0;
                    display: flex;
                    gap: 0.5vh;
                    align-items: left;
                    justify-content: center;
                }
            }
        }
    }

    .historia {
        width: 100%;
        height: auto;
        padding-top: 15vh;

        .text {
            padding-right: 20vh;

            h2 {
                font-size: 30pt;
                color: #856652;
                margin-bottom: 2vh;
                position: relative;
                text-align: right;
            }

            h2::after {
                content: " ";
                width: 9vh;
                height: 3px;
                background-color: #856652;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h3 {
                font-size: 22pt;
                font-weight: 300;
                color: #333;
                text-align: right;
            }
        }

        .texto {
            width: 100%;
            padding: 10vh 20vh;
            display: flex;
            gap: 5vh;

            p {
                text-align: justify;
                column-count: 2;
                column-gap: 5vh;
                font-size: 13pt;
                line-height: 25px;
            }
        }

        .banner-history {
            width: 100%;
            height: 110vh;
            background: url(../Imgs/historia/imagem2.png) center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            svg {
                position: absolute;
            }

            #svg1 {
                top: 0;
                left: 0;
            }

            #svg2 {
                bottom: 0;
                left: 0;
            }
        }
    }

    .compra {
        width: 100%;
        height: auto;
        padding-top: 15vh;
        padding: 20vh 20vh;
        display: flex;

        .search {
            border-radius: 10px;
            box-shadow: 1px 1px 15px #00000060;
            padding: 4vh;
            height: 350px;

            form {
                width: 300px;
                display: flex;
                flex-direction: column;
                gap: 2vh;

                #inp1 {
                    width: 100%;
                    padding: 1vh;
                }

                div {
                    #inp2 {
                        width: 47%;
                        padding: 1vh;
                    }
                }

                input {
                    border-radius: 10px;
                    border: 1px solid #00000050;
                }

                .categorias {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1vh;
                    flex-wrap: wrap;
                }
            }
        }

        .conteudo {
            width: 100%;
            height: auto;
            padding-left: 10vh;
            display: flex;
            gap: 5vh;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .card {
                width: 300px;
                height: 250px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                .desconto {
                    position: absolute;
                    right: 2px;
                    top: 3px;
                    background-color: #ffffff70;
                    z-index: 3;
                    padding: 8px;
                    border-radius: 10px;
                    transform: scale(0.6);

                    span {
                        color: #11111195;
                    }
                }

                .card-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    position: relative;
                    opacity: 0;
                    transition: .2s ease-in-out;
                    background-color: #00000050;
                    z-index: 1;

                    .text-card {
                        width: 100%;
                        height: auto;
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        padding: 2vh;

                        h3 {
                            font-size: 30pt;
                            font-weight: 300;
                        }

                        h4 {
                            font-size: 14pt;

                            del {
                                color: #e93131;
                            }
                        }
                    }
                }
            }

            .card:before {
                content: "";
                position: absolute;
                inset: 0;
                background: url(../Imgs/produtos/produto.jpeg) center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                transition: .2s ease-in-out;
            }

            .card:hover {
                .card-content {
                    opacity: 1;
                }
            }

            .card:hover:before{
                filter: blur(1px);
            }
        }
    }
}

footer {
    width: 100%;
    height: auto;
    padding: 5vh;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);

    .nav {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10vh 0 10vh;

        .logo {
            width: 30vh;
        }

        nav {
            ul {
                display: flex;
                list-style: none;
                gap: 2vh;

                li {
                    a {
                        text-decoration: none;
                        color: #000;
                        position: relative;
                    }

                    a::after {
                        content: " ";
                        width: 0;
                        height: 2px;
                        background-color: #856652;
                        bottom: 0;
                        left: 0;
                        position: absolute;
                        transition: .2s linear;
                    }

                    a:hover::after {
                        width: 100%;
                    }

                    a:hover {
                        color: #856652;
                    }
                }
            }
        }

        .adress {
            width: 30vh;
        }
    }
}

/* Dispositivos móveis */

@media (max-width: 1600px) {
    main {
        .sobre {
            .img {
                img {
                    transform: scale(0.8);
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    main {
        .hero { 
            .filter {
                .content {
                    width: 100%;
                    padding: 0 20vh 20vh 20vh;
                }
            }
        }

        .sobre {
            height: auto;

            .img {
                display: none;
            }

            .content {
                width: 100%;
                padding: 8vh 20vh 8vh 20vh;
            }
        }
    }
}

@media (max-width: 1450px) {
    main {
        .compra {
            padding: 20vh 10vh;
        }
    }
}

@media (max-width: 1320px) {
    main {
        .campos {
            height: 160vh;
            flex-direction: column;

            .content {
                width: 100%;
                height: 50%;
                margin-top: 15vh;
                padding: 8vh 20vh 8vh 20vh;
            } 

            .image {
                width: 100%;
                height: 50%;
            }
        }
    }
}

@media (max-width: 1120px) {
    .historia {
        .texto {
            padding: 10vh 10vh !important;

            p {
                font-size: 11pt !important;
            }
        }
    }
}

@media (max-width: 1150px) {
    footer {
        .nav {
            display: flex;
            flex-wrap: wrap;

            .logo {
                width: 50%;
            }

            nav {
                width: 50%;
                display: flex;
                justify-content: right;
            }

            .adress {
                width: 100%;
                margin-top: 5vh;
            }
        }
    }
}

@media (max-width: 950px) {
    main {
        .hero {
            .filter {
                .content {
                    padding: 0 10vh 10vh 10vh;
                }
            }
        }

        .sobre {
            .content {
                padding: 8vh 10vh 8vh 10vh;
            }
        }

        .campos {
            .content {
                padding: 8vh 10vh 8vh 10vh;
            }
        }
    }
}

@media (max-width: 920px) {
    main {
        .compra {
            flex-direction: column;
            gap: 10vh;
            align-items: center;


            .conteudo {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    footer {
        .nav {
            nav {
                width: 50%;
                height: 100%;

                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }

    main {
        .historia {
            .text {
                padding-right: 10vh;
            }

            .texto {
                p {
                    column-count: 1;
                }
            }

            .banner-history {
                height: 70vh;
            }
        }
    }
}

@media (max-width: 780px) {
    footer {
        .nav {
            .logo {
                width: 100%;
                padding-bottom: 5vh;
            }

            nav {
                width: 100%;
            }
        }
    }
}

@media (max-width: 750px) {
    main {
        .depoimentos, .produtos {
            .text {
                padding: 2vh 10vh 2vh 10vh;
            }
        }

        .historia {
            .text {
                h2 {
                    font-size: 23pt;
                }

                h3 {
                    font-size: 18pt;
                }
            }
        }
    }
}

@media (max-width: 730px) {
    main {
        .hero {
            height: 120vh;
        }
    }
}

@media (max-width: 680px) {
    header {
        height: 14vh;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 1vh;

        .logo {
            img {
                width: 150px;
            }
        }

        .links {
            ul {
                li {
                    a {
                        font-size: 11pt;
                    }
                }
            }
        }
    }

    main {
        .historia {
            padding-top: 20vh;
        }
    }
}

@media (max-width: 600px) {
    footer {
       .nav {
            padding: 0 5vh 0 5vh;
       } 
    }

    main {
        .historia {
            .text {
                padding-right: 5vh;
            }

            .texto {
                padding: 5vh !important;
            }
        }
    }
}

@media (max-width: 540px) {
    * {
        h2 {
            font-size: 25pt !important;
        }

        h3 {
            font-size: 16pt !important;
        }
    }
}

@media (max-width: 550px) {
    main {
        .produtos {
            .cards2 {
                padding: 5vh 8vh 5vh 8vh;
            }
        }
    }
}

@media (max-width: 520px) {
    .contato {
        .formulario {
            padding: 1vh;

            form {
                width: 100% !important;

                .text {
                    h2 {
                        font-size: 20pt !important;
                    }

                    h3 {
                        font-size: 12pt !important;
                    }
                }
            }
        }

        .localizacao {
            iframe {
                height: 50vh !important;
            }
        }
    }
}

@media (max-width: 480px) {
    main {
        .cards {
            padding: 10vh 5vh 10vh 5vh;
        }
    }
}

@media (max-width: 470px) {
    main {
        .hero {
            height: 100vh;

            .filter {
                .content {
                    padding: 0 5vh 10vh 5vh;

                    #p2 {
                        display: none;
                    }
                }
            }
        }

        .sobre {
            .content {
                padding: 8vh 5vh 8vh 5vh;
            }
        }

        .campos {
            .content {
                padding: 8vh 5vh 8vh 5vh;
            }
        }

        .depoimentos {
            .text {
                padding-right: 5vh;
            }

            .cards {
                padding: 5vh;
            }
        }

        .produtos {
            .text {
                padding-left: 5vh;
            }
        }

        * {
            p {
                font-size: 11pt !important;
            }
        }
    }
}

@media (max-width: 440px) {
    footer {
        .nav {
            nav {
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 420px) {
    main {
        .compra {
            padding: 20vh 1vh;

            .search {
                width: 100%;
                height: auto;

                form {
                    transform: scale(0.9);
                }
            }
        }
    }
}

@media (max-width: 417px) {
    main {
        .cards {
            .card {
                .icon {
                    img {
                        width: 50px;
                    }
                }

                .content {
                    h4 {
                        font-size: 12pt;
                    } 

                    p {
                        font-size: 10pt;
                    }
                }
            }
        }
    }
}

@media (max-width: 410px) {
    main {
        .produtos {
            .cards2 {
                padding: 5vh 4vh 5vh 4vh;
            }
        }
    }
}

@media (max-width: 400px) {
    footer {
        padding: 5vh 1vh 5vh 1vh;
    }
}



@media (max-width: 360px) {
    main {
        .contato {
            .formulario {
                form {
                    padding: 3vh;
                }
            }
        }
    }
}

/* Página de contatdo */
